.Rproj.user
.Rhistory
.RData
.Ruserdata
Respaldo SHP/
terreno_tlaxiaco/data/biodiversidad/
terreno_tlaxiaco/data/caminos/
terreno_tlaxiaco/data/climatologia/
terreno_tlaxiaco/data/edafologia/
terreno_tlaxiaco/data/hidrologia/
terreno_tlaxiaco/data/inegi/
terreno_tlaxiaco/data/topografia/
terreno_tlaxiaco/data/uso_suelo_vegetacion/
